echo -n '<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>duck2.lt</title>

<link rel="stylesheet" href="'$BASE_URL'/style.css">

<div class="header">
<a href="'$BASE_URL'/index.html">duck2.lt</a>
<a href="'$BASE_URL'/who.html">who?</a>
<a href="'$BASE_URL'/rt/index.html">rt</a>
</div>'
